.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
  @include d(c) {
    margin-top: 80px;
  }
}
.social-media {
  display: flex;
  gap: 20px;
}
