.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background-image: url('../images/bg-primario.png');
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  padding: 50px 20px 317px 20px;
  @include d(t) {
    padding: 50px 20px 200px 20px;
  }
  @include d(c) {
    padding: 50px 10px 150px 10px;
  }

  &__top {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__img {
    max-width: 767px;
    padding-top: 50px;
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    @include d(t) {
      max-width: 514px;
    }
    @include d(c) {
      max-width: 320px;
    }
  }
  &::before {
    background-image: url('../images/bg-pattern-1.svg');
    background-position: center;
    display: block;
    content: '';
    width: 341px;
    height: 317px;
    position: absolute;
    top: 116px;
    left: -115px;
    @include d(t) {
      left: -220px;
    }
    @include d(c) {
      display: none;
    }
  }
  &::after {
    background-image: url('../images/bg-pattern-2.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    content: '';
    position: absolute;
    bottom: 235px;
    width: 174px;
    height: 181px;
    right: -50px;
    @include d(t) {
      right: -100px;
      bottom: 100px;
    }
    @include d(c) {
      display: none;
    }
  }
}
.header h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  @include d(t) {
    font-size: 60px;
    line-height: 60px;
  }
  @include d(c) {
    font-size: 50px;
    line-height: 50px;
  }
}
.u-destaque {
  border-bottom: solid 3px $cor-destaque;
}
