.l-main {
    max-width: 1200px;
    margin: 0 auto;
}
.l-main__principal{
    display: flex;
    margin-top: 255px;
    margin-bottom: 255px;
    gap: 20px;
    
}
.l-main__itens{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    div {
        border-radius: 100%;
        width: 56px;
        height: 56px;
        border: solid 2px $cor-primaria;
        font-size: 26px;
    }
}

.cta{
    position: relative;
    max-width: 1112px;
    height: 650px;
    img {
        max-width: 450px;
        max-height: 450px;
    }
    .cta__text{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        max-width: 730px;
        background-color: $cor-primaria;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 64px;
        p{
            max-width: 600px;
            color: $cor-secundaria;
        }
        &::before{
            content: "";
            display: block;
            background: url("../assets/images/bg-pattern-3.svg");
            width: 221px;
            height: 212px;
            position: absolute;
            bottom: -60px;
            right: 50px;
        }
    }
}
